<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About</title>
    <link rel="stylesheet" href="./about.css">
</head>
<body>
    <nav>
        <a href="../index.html"> Home</a> 
        <a href="http://www.google.com/"> about me</a> 
        <!-- internal css -->
         <style>
*{border: 1px solid blue;
    margin:15px;
    padding: 15px;

}








         </style>
    </nav>
    <h1>About me</h1>
<section> 
    nsectetur adipisicing elit. Voluptates amet similique quia corrupti omnis nulla inventore in, dolor eum, delectus dolorem voluptas numquam! Beatae ipsam totam sapiente dolores modi veniam!</p>

</section>
<!-- nav boxes to html -->
<nav>

<div>
    <img src="./images/DESKTOP.png"class="logo" alt="desktop logo">
</div>
    <div class="boxa">
        <img src="./images/logo.svg" alt="logo">
    </div>

    <div class="boxb">
        <a href=""class="key" > About me</a>
        <a href="" class="key"> Skills</a>
        <a href=""class="key"> Portfolio</a>
        <a href="" class="contact">CONTACT ME</a>
        <img src="./images/background img1.png" alt="backgroung img">
        
    </div>
</nav>

<!-- hero boxes to html -->
 <div class="hero">
    <div class="boxa">
        <h6>Hi, I am </h6>
        <h2>Tomasz Gajda</h2>
        <p>Front-end Developer / UI Designer</p>
        <div class="btns">
            <img src="./images/icon1.svg" alt="icon1">
            <img src="./images/icon2.svg" alt="icon2">
            <img src="./images/icon3 .svg" alt="icon3">
            
        </div>
    </div>

    <div class="boxb">
        <img src="./images/img2.png" alt="user img" class="userimage">
        <h4>this is not my photo, but I dearly hope to get one just like this </h4>
    </div>
 </div>
 <div class="hero2">
    <div class="box1">
        <h3>IT BERRIES</h3>
        <h5>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est. Morbi commodo, eros in dignissim tempus, lacus odio rutrum augue, in semper sem magna quis tellus. Etiam enim erat, suscipit eu semper a, dictum sit amet elit. Nunc egestas nisi eget enim gravida facilisis. Pellentesque laoreet varius turpis vel pharetra. Ut ante justo, consequat vitae elementum tempor, accumsan nec eros. </h5>
    
        <h5>READ MORE</h5>
    <div class="box2"></div>
 </div>
</body>
</html>