<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About</title>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <nav>
        <a href="../index.html"> Home</a> 
        <a href="http://www.google.com/"> about me</a> 
        <!-- internal css -->
         <style>
*{border: 1px solid blue;
    margin:15px;
    padding: 15px;

}









         </style>
    </nav>
    <h1>About me</h1>
<section> 
    nsectetur adipisicing elit. Voluptates amet similique quia corrupti omnis nulla inventore in, dolor eum, delectus dolorem voluptas numquam! Beatae ipsam totam sapiente dolores modi veniam!</p>

</section>
<!-- nav boxes to html -->
<nav>

<div>
    <img src="./images/DESKTOP (1).png"class="logo" alt="desktop logo">
</div>
    <div class="boxa">
        <img src="./images/logo.svg" alt="logo">
    </div>

    <div class="boxb">
        <a href=""class="key" > About me</a>
        <a href="" class="key"> Skills</a>
        <a href=""class="key"> Portfolio</a>
        <a href="" class="contact">CONTACT ME</a>
        <img src="./images/Rectangle 67.png" alt="backgroung img">
        
    </div>
</nav>

<!-- hero boxes to html -->
 <div class="hero">
    <div class="boxa">
        <h6>Hi, I am </h6>
        <h2>Tomasz Gajda</h2>
        <p>Front-end Developer / UI Designer</p>
        <div class="btns">
            <img src="./images/icon1.svg" alt="icon1">
            <img src="./images/icon2.svg" alt="icon2">
            <img src="./images/icon3 .svg" alt="icon3">
            
        </div>
    </div>

    <div class="boxb">
        <img src="./images/img 2.png" alt="user img" class="userimage">
        <h4>this is not my photo, but I dearly hope to get one just like this </h4>
    </div>
 </div>
 <div class="hero2">
    <div class="box1">
        <h3>IT BERRIES</h3>
        <h5>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est. Morbi commodo, eros in dignissim tempus, lacus odio rutrum augue, in semper sem magna quis tellus. Etiam enim erat, suscipit eu semper a, dictum sit amet elit. Nunc egestas nisi eget enim gravida facilisis. Pellentesque laoreet varius turpis vel pharetra. Ut ante justo, consequat vitae elementum tempor, accumsan nec eros. </h5>
    
        <h5>READ MORE</h5>
    <div class="box2"></div>

    <div>


    </div>
 </div>
 <h3>
    ABOUT ME
</h3>
<p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.</p>

<div class="small">
    <h6 > EXPLORE</h6></div>
    <div>
        <img src="./images/separatorBlack 1.svg" alt="sep" class="seperator">
    </div>
    <div>
        <div>
            <img src="./images/136378-200 1.svg" alt="1363-img" class="1363">
<h4>DESIGN</h4>
        </div>
        <div><h1 class="design">I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.
        </h1></div>
<div>
    <div>
        <img src="./images/maintenance--v3 1.svg" alt="maintain" class="maintenance--v3"></div><h4>
        DEVELOPMENT
    </h4>
    
    <div><h1>
        I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.
    </h1></div>
</div>
<div>
    <div>
        <img src="./images/img_533288 1.svg" alt="5332-img" class="">
        <h4>MAINTENANCE</h4></div>
        <h1>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</h1>

</div>
<div>
    <img src="./images/separatorBlack 2.svg" alt="seper-img" class="">
</div>
<div class="skills">
    <h3>SKILLS</h3>
</div>
<div>

<div><h4>
    USING NOW:
</h4>
<div><img src="./images/Group 12.svg" alt="Group 12-img" class="">
<h1>HTML5</h1></div>
<div><img src="./images/Group 13.svg" alt="Group 13-img" class=""> <h1>CSS3</h1></div>
<div><img src="./images/Vector.svg" alt="Vectorimg" class=""><h1>SASS</h1></div>
<div style="background-color: yellow;"><img src="./images/About.svg" alt="aboutimg" class="">
<img src="./vector.svg" alt="aboutimg" class=""><h1>JAVASCRIPT</h1></div>
<div><img src="./images/Group 14.svg" alt="Vectorimg" class=""><h1>REACT</h1></div>
<div><img src="./images/bootstrap.svg" alt="bootstrap" class=""><h1>BOOTSTRAP</h1></div>
<div><img src="./images/git.SVG" alt="GIT" class=""><h1>GIT</h1></div>


<div><img src="./images/figma.SVG" alt="figma" class=""><h1>FIGMA</h1></div>
<div> 
   <div> <h4>LEARNING:</h4></div>

<div><img src="./images/vectors2/Vector.svg" alt="NODEJS" class=""><h1>NODEJS</h1></div>
<div><img src="./images/vector4/vector5/Vector.svg" alt="MySQL" class=""><img src="./images/vector4/Vector.svg" alt="MySQL" class="">
    <h1>MySQL</h1></div>

    <div><img src="./images/vector 6/Vector.svg" alt="TYPESCRIPT" class="">
    <img src="./images/vector 6/vector 7/Vector.svg" alt="TYPESCRIPT" class=""><h1>TYPESCRIPT</h1></div>
     
    <div><h4>OTHER SKILLS:</h4></div>
    <div><img src="./images/image 18.svg" alt="ANGIELSKI C1/C2" class=""><h1>ANGIELSKI C1/C2</h1></div>
    <div><img src="./images/image 19.svg" alt="HISZPAŃSKI   B1/B2" class=""><h1>HISZPAŃSKIB1/B2</h1></div>
    <div><img src="./images/image 20.svg" alt="C++" class=""><h1>C++</h1></div>  
    <div><img src="./images/image 17.svg" alt="C" class=""><h1>C</h1></div> 
  
<div>
<div>
    <img src="./images/image 12.png" alt=""></div><h4 style="border: 8px solid #000000;" > PORTFOLIO</h4></div>
    <div>
<div><h1>ALL</h1></div>
<div><h1>CODED</h1></div>
<div><h1>DESIGNED</h1></div>
<div><img src="./images/Project.png" alt="" class=""></div> 

<div><h1>coded, designed</h1></div>
<div><h3> eatsome.</h3></div>
<div>Restaurant browsing in React.js (Using Yelp API)/div>
<div style="border: 2px solid #FFFFFF"><h3>DEMO</h3></div>
<div>DEMO</div>
<div>MORE</div>
<div><img src="./images/Project (1).png" alt="" class=""></div> 
<div><img src="./images/Project (2).png" alt="" class=""></div> 
<div><img src="./images/Project (3).png" alt="" class=""></div>

<div><h4>And many more to come!</h4></div>
<div>  <img src="./images/Rectangle 35.png" alt="" class=""><h6>CONTACT</h6></div>

<div class="contact">
<div><h1>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.</h1></div>
<div><img src="./images/sep/separatorBlack 2.svg" alt="" class=""></div>
<div><img src="./images/Rectangle 50.png" alt="" class=""></div>
<div><img src="./images/Rectangle 51.png" alt="" class=""></div>
<div> <h3>ENTER YOUR NAME*</h3></div>
<div><img src="./images/Rectangle 50.png" alt="" class=""></div>
<div><img src="./images/Rectangle 51.png" alt="" class=""></div>
<div> <h3>ENTER YOUR EMAIL*</h3></div>

<div><img src="./images/Rectangle 50.png" alt="" class=""></div>
<div><img src="./images/Rectangle 51.png" alt="" class=""></div>
<div> <h3>PHONE NUMBER*</h3></div>
<div><img src="./images/Rectangle 56.png" alt="" class=""></div>
<div><img src="./images/Rectangle 51.png" alt="" class=""></div>

<div   >
    <div><img src="./images/Rectangle 56.png" alt="" class=""></div>
    <form action="https://github.com/lhekz/yt2-_git_push1.git " method="post">
        <button type="submit">Submit</button>
        <form action="https://github.com/lhekz/yt2-_git_push1.git " method="post">
    
    <div><img src="./images/Rectangle 56.png" alt="" class=""></div>
   
    </form></div></div>

<div class="footer">
    <h3>BACK TO TOP</h3></div>
    <div><img src="./images/vector11/vector.svg" alt="" class=""></div>
    <div><img src="./images/vector8/vector.svg" alt="" class=""></div>
    <div><img src="./images/vector7/vector.svg" alt="" class=""></div>
    <div><img src="./images/vector9/vector.svg" alt="" class=""></div>
    <div><img src="./images/vector18/vector.svg" alt="" class=""></div>
<div><h3>@2020 Tomasz Gajda All Rights Reserved.</h3>
</div>
<div>
    
    


</div>









    </div>













</div>






</div>
    </div>
</div>
</body>
</html>